* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* new rem /10 */
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #5E6164;
}

h1,
h2,
h3 {
    font-family: 'Russo One', sans-serif;
    color: #23293B;
}

.navbar {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    background-color: #F4F4F4;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    color: #23293B;
}

.navbar h1 {
    font-size: 4rem;
    margin: 2rem 0;
}

.navbar a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #23293B;
    margin: 1rem;

}

.navbar nav {
    margin: 1rem;
    place-items: center;
    gap: 1rem;

}

.header-img img {
    margin-top: 12rem;
    max-width: 100%;
}

.home-content {
    place-items: center;
    margin: 0 2rem;
}


.intro h2{
    font-size: 3rem;
    margin: 1.2rem 0;
}

.intro p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

.space-img img {
    max-width: 100%;
    border-radius: 2rem;

}

.blast {
    min-width: 100%;
}

.sky {
    display: none;

}


.launch {
    display: none;
}

@media ( min-width: 960px ) {
    .space-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        max-width: 100%;
        margin: auto auto;
    }
    .blast {
        min-width: inherit;
    }
    .sky {
        display: inherit;
    }
    .launch {
        display: inherit;
    }
}

.visit h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
}

.visit p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

@media (min-width: 960px) {
    .home-content {

        display: flex;
        flex-direction: column;
        place-items: center;
        max-width: 100%;
        margin: 0 16.5%;
    }

    .intro, .visit {

        place-content: center;
        max-width: 75%;
    }



}

.walk h3 {
    font-size: 3rem;
    margin: 1.5rem 0;
}
.walk p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

.walk img {
    min-width: 100%;
    border-radius: 2rem;

}


.btn {
    font-size: 2.0rem;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #F4F4F4;
    padding: 2rem;
    margin: 2rem;
    background-color: #22283A;
    border-radius: 0.5rem;
}

@media (min-width: 960px) {
    .walk {
        display: flex;
        flex: row;
        justify-content: center;
        max-width: 100%;
        margin: 2.5rem 12.5%;
        padding: 2.5rem 0 0 0;
        border-top: 1px solid #DEE2E6;
    }


    .walk-text {
        margin: 1rem;
        width: 100%;
    }


    .walk-img {
        margin: 1rem;
        order: 2;
        width: 50%;
        height: 50%;
        width: 100%;
    }

    .btn {
        width: 35%;
        margin: 0;
        padding: 1rem;
    }


}

footer {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    width: 100%;

}
